.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layerRow,
.test {
  display: flex;
  align-items: center;
}



.handle {
  font-size: 1.2rem;
  cursor: move;
  /* fallback: Internet Explorer */
  cursor: -webkit-grab;
  /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grab;
  /* Firefox 1.5-26 */
  cursor: grab;
  /* W3C standards syntax, should come least */
}

.handle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.PrivateSwitchBase-root-1 {
  padding: 4px;
}

.layeracc {
  margin: 0px;
}

.width400 {
  width: 320px;
  overflow: auto;
  max-height: 90vh;

}

.width290 {
  width: 230px;
}

.listitem {
  margin: 1px 0px;
}

.MuiAccordionSummary-content {
  margin: 0px !important;
}

.MuiAccordionDetails-root {
  padding: 2px 4px 4px !important;
}

.cardcontainer {
  padding: 2px 5px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.toggle-group,
.toggle {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px !important;
}

.filterPanelexp {
  margin-left: 342px;
}
.filterPanelcol {
  margin-left: 72px;
}

.panelTitle {
  font-weight: 500;
  font-size: 1.05rem;
}

.panelTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.panelIcon {
  font-size: .9rem;
}

.filterBox {
  margin: 20px auto 0;
}

.hidden {
  visibility: hidden;
}

.cust-py12 {
  padding-top: 12px !important;
  padding-bottom: 4px !important;

}